/* Cores */
body {
    background-color: #b7fafa;
    color: #3f0235;
    /* Azul escuro */
    padding: 20px
}

/* Carrossel */
#carrosel {
    width: 60%;
    /* Ajuste o valor para a largura desejada */
    height: 40%;
    margin: 0 auto;
}

/* Fontes */
body,
h1,
h2,
p,
button {
    font-family: 'Mukta', sans-serif;
    font-size: 16px;
}

/* Botões */
.btn {
    background-color: #0077BB;
    color: #460b2f;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
}
